.heroInformation_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 860px;
    width: 80%;
}
.heroInformation_content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 31%;
    border-radius: 40px;
    background-color: #dee2e6;
}

.heroInformation_container--img {
    width: 100%;
    height: 30%;
}

.heroInformation_container--img img {
    width: 100%;
    height: 100%;
    border-radius: 40px 40px 0 0;
}

.heroInformation_container--content {
    width: 80%;
    height: 70%;
    padding: 20px;
}

.heroInformation_container--content p {
    text-wrap: wrap;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

@media (max-width: 768px) {
    .heroInformation_container {
        width: 95%;
        flex-wrap: wrap;
        align-items: stretch;
        height: auto;
    }

    .heroInformation_content {
        width: 100%;
        margin-bottom: 20px;
    }

    .heroInformation_container--img,
    .heroInformation_container--content {
        width: 100%;
        border-radius: 0;
    }

    .heroInformation_container--img img {
        border-radius: 0;
    }

    .heroInformation_container--content {
        padding: 20px;
    }

    .heroInformation_container--content p {
        font-size: 16px;
    }
}
